<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.GoodstypeMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Goodstype" >
    <id column="goodid" property="goodid" jdbcType="INTEGER" />
    <result column="goodname" property="goodname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goodid, goodname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goodstype
    where goodid = #{goodid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goodstype
    where goodid = #{goodid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.Goodstype" >
    insert into goodstype (goodid, goodname)
    values (#{goodid,jdbcType=INTEGER}, #{goodname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.Goodstype" >
    insert into goodstype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodid != null" >
        goodid,
      </if>
      <if test="goodname != null" >
        goodname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodid != null" >
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        #{goodname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.Goodstype" >
    update goodstype
    <set >
      <if test="goodname != null" >
        goodname = #{goodname,jdbcType=VARCHAR},
      </if>
    </set>
    where goodid = #{goodid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.Goodstype" >
    update goodstype
    set goodname = #{goodname,jdbcType=VARCHAR}
    where goodid = #{goodid,jdbcType=INTEGER}
  </update>
</mapper>