<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.yyt.yyt_ArtisanMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Artisan" >
    <id column="aphone" property="aphone" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="zid" property="zid" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="asex" property="asex" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="acaid" property="acaid" jdbcType="VARCHAR" />
    <result column="acraft" property="acraft" jdbcType="VARCHAR" />
    <result column="azt" property="azt" jdbcType="INTEGER" />
    <result column="alzyy" property="alzyy" jdbcType="VARCHAR" />
    <result column="alzday" property="alzday" jdbcType="DATE" />
    <result column="arzday" property="arzday" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    aphone, sid, zid, tid, aname, asex, address, acaid, acraft, azt, alzyy, alzday, arzday
  </sql>
  
  <select id="selectByTid" resultType="com.accp.pojo.Artisan" parameterType="com.accp.pojo.Artisan">
  	select * from artisan where azt=0
  	<if test="tid!=0">
  	 and tid=#{tid}
  	</if>
  	<if test="aname!=null">
  	 and aname like '%${aname}%'
  	</if>
  	<if test="aphone!=''">
  	 and aphone = #{aphone}
  	</if>
  	<if test="sid!=null">
  	 and sid = #{sid}
  	</if>
  	<if test="zid!=null">
  	 and zid = #{zid}
  	</if>
  </select>
</mapper>